@model SchoolWebApp.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Employee Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @if (Model.Roles.IsEmpty())
            {
                <text>This employee is not member of any role</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Roles)

            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit Employee", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Employee List", "Index")
</p>

