@model IEnumerable<SchoolWebApp.ViewModels.DepartmentViewModel>
@{
    ViewBag.Title = "Department List";
}

<h2>Department List</h2>
<p>
    @Html.ActionLink("Create New Department", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |

            @* Replace with  List of Faculties in this department *@
            @Ajax.ActionLink("Faculties", "ListFacultiesPartial", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "FacultyList", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })

            @* Add a badge: The number of faculties in this department *@
            @Html.Action("GetCountFacultiesPartial", "Department", new { id = item.Id })
        </td>
    </tr>
    }
</table>
<div id="FacultyList"></div>
